[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nbpInference"]
	path = nbpInference
	url = https://github.com/anthonyfraziercsu/nbpinference
